/****** BASE STYLES ******/
@font-face {
	font-family: LoveStory;
	src: url('../font/LoveStory.ttf') format('truetype');
}

body {
	margin: 0;
	width: 100%;
}


/****** GRID SYSTEM ******/

.full-width {
	width: 100%;
	margin: 0 auto;
}

.half-width {
	width: 50%;
	float: left
}

.third-width {
	width: 33%;
}

.quarter-width {
	width: 24.75%;
	height: 50%;
	float: left;
	text-align: center;
}




/****** HEADER SECTION ******/
header {
	background: #373f3c;
	height: 800px;
	position: relative;
}

header #nav {
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
}

nav a {
	border-bottom: 2px solid #fff;
	color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 140%;
	padding: 0 70px;
	text-decoration: none;
	text-transform: uppercase;
}

header #container {
	bottom: 0;
	left: 50%;
	margin: 40px 0 0 -40%;
	position: absolute;
	width: 80%;
}

header img { 
	width: 100%;
}




/****** ABOUT SECTION ******/
#about {
	background: #758763;
	height: 1200px;
}

#about .half-width {
	float: left;
}

#dave {
	background: #FFF;
	height: 600px;
}

#daveImage {
	max-height: 600px;
	z-index: 0;
}

#daveAbout {
	background: #FFF;
	max-height: 600px;
	z-index: 1;
}

#daveAbout, #hoodachoAbout {
	text-align: left;
}

#daveAbout h2 {
	font-family: 'LoveStory', serif;
	font-size: 300%;
	letter-spacing: 4px;
	margin-top: 10%;
}

#daveAbout h2 {
	margin-left: 40px;
}

#daveAbout p, #hoodachoAbout h3, #hoodachoAbout li {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 120%;
	padding: 0 30px;
}

#daveAbout p {
	line-height: 160%
}

#hoodacho {
	height: 600px;
}

#hoodachoAbout h3 {
	font-family: 'Vollkorn', serif;
	font-size: 140%;
	margin-top: 25%;
}

#hoodachoImage img {
	max-width: 100%;
	min-height: 600px;
}




/****** GALLERY SECTION ******/
#gallery {
	height: 800px;
	max-height: 800px;
}

#gallery .full-width {
	height: 200px;
	padding: 100px 0;
}

#gallery .row {
	max-height: 100%;
}

#rowTwo {
	margin-top: 140px;
}

.product {
	background: #FFF;
	border: 2px solid #000;
	margin: 0 auto;
	width: 50%;
	max-width: 50%;
	height: 225px;
	max-height: 225px;
}

#gallery a {
	margin: 0 auto;	
}

#rowTwo div {
	visibility: hidden;
}



/****** CONTACT SECTION ******/
footer {
	background: #474d56;
	height: 700px;
	text-align: center
}

#contact-header {
	padding: 60px 0 60px 0;
	text-transform: uppercase;
}

#contact-header h1 {
	background: #ACACAC;
	border: 2px solid #000;
	font-family: 'Vollkorn', serif;
	font-size: 200%;
	margin: 0 auto;
	max-width: 200px;
	min-width: 200px;
	width: 200px;
}

#social-media, #testamonials {
	background: #ACACAC;
	border: 2px solid #000;
	height: 350px;
	list-style: none;
	margin: 0 auto;
	max-width: 50%;
}

#social-media h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
}

#social-media a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-decoration: none;
}

#testamonials .container, #myCarousel {
	height: 346px;
	max-width: 100%;
}

#testamonials img {
	margin: 40px auto;
	max-width: 35%;
}

.carousel-inner p {
	margin: 0 20px;
}

.carousel-inner span {
	font-size: 140%;
	font-weight: 700;
}

#hoodacho-icon {
	margin-top: 40px;
	width: 200px;
}