/****** BASE STYLES ******/
@font-face {
	font-family: LoveStory;
	src: url('../font/LoveStory.ttf') format('truetype');
}

body {
	margin: 0;
	width: 100%;
}


/****** GRID SYSTEM ******/

.full-width {
	width: 100%;
	margin: 0 auto;
}

.half-width {
	width: 50%;
}

.third-width {
	width: 33%;
}

.quarter-width {
	width: 25%;
	height: 50%;
	float: left;
	text-align: center;
}




/****** HEADER SECTION ******/
header {
	background: #373f3c;
	height: 800px;
	position: relative;
}

header #nav {
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
}

nav a {
	border-bottom: 2px solid #fff;
	color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 140%;
	padding: 0 70px;
	text-decoration: none;
	text-transform: uppercase;
}

header #container {
	bottom: 0;
	left: 50%;
	margin: 40px 0 0 -40%;
	position: absolute;
	width: 80%;
}

header img { 
	width: 100%;
}




/****** ABOUT SECTION ******/
#about {
	background: #758763;
	height: 1200px;
}

#about .half-width {
	float: left;
}

#dave {
	background: #FFF;
	height: 600px;
}

#daveImage {
	max-height: 600px;
	z-index: 0;
}

#daveAbout {
	max-height: 600px;
	background: #FFF;
	z-index: 1;
}

#daveAbout, #hoodachoAbout {
	text-align: left;
}

#daveAbout h2 {
	font-family: 'LoveStory', serif;
	font-size: 300%;
	letter-spacing: 4px;
	margin-top: 10%;
}

#daveAbout h2 {
	margin-left: 40px;
}

#daveAbout p, #hoodachoAbout h3, #hoodachoAbout li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 120%;
	color: #333;
	padding: 0 30px;
}

#daveAbout p {
	line-height: 160%
}

#hoodacho {
	height: 600px;
}

#hoodachoAbout h3 {
	font-family: 'Vollkorn', serif;
	font-size: 140%;
	margin-top: 25%;
}

#hoodachoImage img {
	max-width: 100%;
	min-height: 600px;
}




/****** GALLERY SECTION ******/
#gallery {
	height: 800px;
	max-height: 800px;
}

#gallery .full-width {
	/*background: red;*/
	height: 200px;
	padding: 100px 0;
}

#gallery .row {
	max-height: 100%;
	background: grey;
}

.product {
	border: 2px solid #000;
	margin: 0 auto;
	width: 50%;
	background: #FFF;
}

#gallery a {
	margin: 0 auto;	
}/*

#rowOne {
	padding: 125px 0 50px 0;
	background: red;
	width: 100%;
	height: 50%
}

#rowTwo {
	padding: 50px 0 125px 0;
}*/



/****** CONTACT SECTION ******/
footer {
	background: #474d56;
	height: 700px;
}